[defaults]
inventory         = ansible/inventory/hosts.yml
roles_path        = ansible/roles
host_key_checking = False
timeout           = 30
stdout_callback   = yaml
collections_path  = ~/.ansible/collections

[persistent_connection]
connect_timeout   = 30
command_timeout   = 30

[ssh_connection]
pipelining        = True
